<ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-menu side="end" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Modificar Nota</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-button routerLink="/home">Inicio</ion-button>
        <ion-button routerLink="/materias">Materias</ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-content id="main-content">
    <ion-card>
        <ion-card-content>
            <form [formGroup]="modificarNotaForm">
                <ion-item>
                    <ion-label>Fecha de Entrega</ion-label>
                    <ion-datetime display-format="DD/MM/YYYY" (ionChange)="onFechaEntregaChange($event)">
                    </ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Descripción</ion-label>
                    <ion-input formControlName="descripcion"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Nota</ion-label>
                    <ion-input formControlName="nota" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Observaciones</ion-label>
                    <ion-input formControlName="observaciones"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Seleccione el Corte en el cual desea ingresar su nota</ion-label>
                    <ion-input formControlName="corte" (ionInput)="filterOptions($event)"></ion-input>
                </ion-item>

                <ion-list *ngIf="filteredCortes.length > 0">
                    <ion-item *ngFor="let corte of filteredCortes" (click)="selectCorte(corte)">
                        {{ corte }}
                    </ion-item>
                </ion-list>

                <ion-button color="success" (click)="guardarCambios()">Guardar Cambios</ion-button>
                <ion-button (click)="notasRegistradas()">Notas registradas</ion-button>

            </form>
        </ion-card-content>
    </ion-card>
</ion-content>