<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modificar Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-button routerLink="/home">Inicio</ion-button>
      <ion-button routerLink="/materias">Materias</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="modificarMateriaForm">
        <ion-item>
          <ion-label position="floating">Nombre de la materia</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Semestre</ion-label>
          <ion-input formControlName="semestre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Código</ion-label>
          <ion-input formControlName="codigo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Horario</ion-label>
          <ion-input formControlName="horario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Observaciones</ion-label>
          <ion-input formControlName="observaciones"></ion-input>
        </ion-item>
        <ion-button color="success" (click)="guardarCambios()">Guardar Cambios</ion-button>
        <ion-button (click)="MateriasInscritas()">Lista de materias inscritas</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>