<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
    <ion-content>
      <ion-button [routerLink]="['/home']">
        Volver al inicio
      </ion-button>
    </ion-content>
  </ion-header>
</ion-menu>

<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Agregar</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <ion-button [routerLink]="['/materias']">Materias</ion-button>
  <ion-button [routerLink]="['/notas']">Notas</ion-button>
</ion-content>
