<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button expand="block" [routerLink]="['/home']" style="margin-bottom: 10px;">
      Inicio
    </ion-button>
    <ion-button expand="block" [routerLink]="['/agregar']" style="margin-bottom: 10px;">
      Agregar
    </ion-button>
    <ion-button expand="block" [routerLink]="['/materias']" style="margin-bottom: 10px;">
      Materias
    </ion-button>
    <ion-button expand="block" [routerLink]="['/notas']" style="margin-bottom: 10px;">
      Notas
    </ion-button>
    <ion-button expand="block" [routerLink]="['/materias-aceptar']" style="margin-bottom: 10px;">
      Materias Inscritas
    </ion-button>
    <ion-button expand="block" [routerLink]="['/notas-aceptar']" style="margin-bottom: 10px;">
      Notas Inscritas
    </ion-button>
  </ion-content>
</ion-menu>

<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Detalles por materia</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <ion-card *ngIf="materiaSeleccionada">
    <ion-card-header>
      <ion-card-title>{{ materiaSeleccionada.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Semestre:</strong> {{ materiaSeleccionada.semestre }}</p>
      <p><strong>Código:</strong> {{ materiaSeleccionada.codigo }}</p>
      <p><strong>Horario:</strong> {{ materiaSeleccionada.horario }}</p>
      <p><strong>Observaciones:</strong> {{ materiaSeleccionada.observaciones || 'No hay ninguna observación' }}</p>
    </ion-card-content>

    <ion-button (click)="modificarMateria()">Modificar Materia</ion-button>
    <ion-button>Eliminar Materia</ion-button>
    <ion-button>Agregar Notas</ion-button>
  </ion-card>
</ion-content>
