<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Materias Inscritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-button routerLink="/home">Inicio</ion-button>
      <ion-button routerLink="/materias">Materias</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <ion-list>
    <ion-item *ngFor="let materia of materiasArray">
      <ion-label>
        {{ materia.nombre }}
        <span [ngStyle]="{
            'color': obtenerColorMensaje(materia),
            'margin-left': '25px'
          }">
          {{ obtenerEstadoMateria(materia) }}
        </span>
      </ion-label>
      <ion-button (click)="verDetalle(materia)">Ver Detalle</ion-button>
    </ion-item>
  </ion-list>


  <ion-button (click)="AgregarMateria()">Agregar Materia</ion-button>


</ion-content>