<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button expand="block" [routerLink]="['/home']" style="margin-bottom: 10px;">
      Inicio
    </ion-button>
    <ion-button expand="block" [routerLink]="['/agregar']" style="margin-bottom: 10px;">
      Agregar
    </ion-button>
    <ion-button expand="block" [routerLink]="['/materias']" style="margin-bottom: 10px;">
      Materias
    </ion-button>
    <ion-button expand="block" [routerLink]="['/notas']" style="margin-bottom: 10px;">
      Notas
    </ion-button>
    <ion-button expand="block" [routerLink]="['/materias-aceptar']" style="margin-bottom: 10px;">
      Materias Inscritas
    </ion-button>
    <ion-button expand="block" [routerLink]="['/notas-aceptar']" style="margin-bottom: 10px;">
      Notas Inscritas
    </ion-button>
  </ion-content>
</ion-menu>

<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Materias Inscritas</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let materia of materiasArray">
      <ion-label>{{ materia.nombre }}</ion-label>
      <ion-button (click)="verDetalle(materia)">Ver Detalle</ion-button>
    </ion-item>
  </ion-list>
</ion-content>